## progetto computer science

In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
googleps_ur=pd.read_csv('/Users/ospite/Desktop/juppiter/googleplaystore_user_reviews.csv')
googleps_ur.head(3)

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
0,10 Best Foods for You,I like eat delicious food. That's I'm cooking ...,Positive,1.00,0.533333
1,10 Best Foods for You,This help eating healthy exercise regular basis,Positive,0.25,0.288462
2,10 Best Foods for You,NaN,NaN,NaN,NaN

In [3]:
googleps=pd.read_csv('/Users/ospite/Desktop/juppiter/googleplaystore.csv')
googleps.head(2)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up

## punto 1 e punto 3

ho svolto i due punti suddetti consecutivamente perchè collegati, ho aggiunto un colonna 'IntValue' con 'Size' per esteso attraverso una funzione, i 'varies with device' sono stati in primo luogo cambiati col valore 999 e alla fine trasformati in null value attraverso una funzione

In [4]:
googleps['Size'] = [re.sub('Varies with device', '999', size) for size in googleps['Size']] 
googleps.head(2)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up

In [5]:
def to_numer(elem):
    m = cash.search(elem)
    unit = m.group('mol')
    mult = unit_to_mult(unit)
    amount = float(m.group('num'))
    return int(amount * mult)

In [6]:
cash=re.compile('(?P<num>\d*\.*\d*)(?P<mol>\w*)')

def unit_to_mult(mol):
    if mol=='G':
        return 1000000000
    if mol=='M':
        return 1000000
    if mol=='K':
        return 1000
    return 1

In [7]:
googleps['IntValue'] = googleps['Size'].apply(to_numer)
googleps.head(2)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,IntValue
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up,19000000
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up,14000000

In [8]:
def convert(n):
    if n=='999':
        return None
    return n

In [9]:
googleps['Size'].apply(convert).head()

0     19M
1     14M
2    8.7M
3     25M
4    2.8M
Name: Size, dtype: object

In [10]:
pd.to_numeric(googleps['IntValue'], errors='coerce').head()

0    19000000
1    14000000
2     8700000
3    25000000
4     2800000
Name: IntValue, dtype: int64

In [11]:
googleps['IntValue']=googleps['IntValue'].apply(str)
googleps['IntValue']=[re.sub('999','Varies with device', intvalue) for intvalue in googleps['IntValue']] 
googleps['IntValue'].head()

0    19000000
1    14000000
2     8700000
3    25000000
4     2800000
Name: IntValue, dtype: object

In [12]:
def converti(n):
    if n=='Varies with device':
        return None
    return n

In [13]:
googleps['IntValue'].apply(converti).head()

0    19000000
1    14000000
2     8700000
3    25000000
4     2800000
Name: IntValue, dtype: object

## punto 2

utilizzo re.sub per eliminare il '+' da 'Installs', matchando tutto ciò che non è una lettera o numero, questo match era sufficiente per aggiungere la colonna 'installazioni' desiderata desiderata

In [14]:
googleps['installazioni'] = [re.sub('[^A-Za-z0-9]+', '', mystring) for mystring in googleps['Installs']]
googleps[['App','Installs','installazioni']].head()

,App,Installs,installazioni
0,Photo Editor & Candy Camera & Grid & ScrapBook,"10,000+",10000
1,Coloring book moana,"500,000+",500000
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...","5,000,000+",5000000
3,Sketch - Draw & Paint,"50,000,000+",50000000
4,Pixel Draw - Number Art Coloring Book,"100,000+",100000

In [15]:
pd.to_numeric(googleps['installazioni'], errors='coerce').head()

0       10000.0
1      500000.0
2     5000000.0
3    50000000.0
4      100000.0
Name: installazioni, dtype: float64

## punto 4

sostituisco con replace i caratteri indesiderati da 'current ver' e 'android ver' e aggiungo le colonne ripulite

In [16]:
googleps['v_corr']=googleps['Current Ver']
googleps['v_corr'].replace('[a-zA-Z]','', regex = True, inplace = True)
googleps['v_corr'].head()

0    1.0.0
1    2.0.0
2    1.2.4
3
4      1.1
Name: v_corr, dtype: object

In [17]:
googleps['a_ver_-&.']=googleps['Android Ver']
googleps['a_ver_-&.'].replace('[a-zA-Z]','', regex = True, inplace = True)
googleps['a_ver_-&.'].head()

0    4.0.3
1    4.0.3
2    4.0.3
3      4.2
4      4.4
Name: a_ver_-&., dtype: object

In [18]:
googleps.head(2)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,IntValue,installazioni,v_corr,a_ver_-&.
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up,19000000,10000,1.0.0,4.0.3
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up,14000000,500000,2.0.0,4.0.3

## punto 5

ordino i valori in base ad 'app' e 'reviews' e considerando le 'app' uguali elimino quella con le reviews minori

In [19]:
len(googleps)

10841

In [20]:
googleps.sort_values(by=['App', 'Reviews']).head(3)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,IntValue,installazioni,v_corr,a_ver_-&.
8884,"""i DT"" Fútbol. Todos Somos Técnicos.",SPORTS,NaN,27,3.6M,500+,Free,0,Everyone,Sports,"October 7, 2017",0.22,4.1 and up,3600000,500,0.22,4.1
8532,+Download 4 Instagram Twitter,SOCIAL,4.5,40467,22M,"1,000,000+",Free,0,Everyone,Social,"August 2, 2018",5.03,4.1 and up,22000000,1000000,5.03,4.1
324,- Free Comics - Comic Apps,COMICS,3.5,115,9.1M,"10,000+",Free,0,Mature 17+,Comics,"July 13, 2018",5.0.12,5.0 and up,9100000,10000,5.0.12,5.0

In [21]:
googleps.drop_duplicates(subset ="App", keep = 'first', inplace = True) 
googleps.head(3)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,IntValue,installazioni,v_corr,a_ver_-&.
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up,19000000,10000,1.0.0,4.0.3
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up,14000000,500000,2.0.0,4.0.3
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up,8700000,5000000,1.2.4,4.0.3

In [22]:
len(googleps)

9660

## punto 6

raggruppo per 'category' uguali e conto

In [23]:
googleps.groupby('Category').size().head()

Category
1.9                      1
ART_AND_DESIGN          64
AUTO_AND_VEHICLES       85
BEAUTY                  53
BOOKS_AND_REFERENCE    222
dtype: int64

## punto 7

raggruppo per 'category' e computo la media

In [24]:
googleps.groupby('Category').mean()['Rating'].head()

Category
1.9                    19.000000
ART_AND_DESIGN          4.357377
AUTO_AND_VEHICLES       4.190411
BEAUTY                  4.278571
BOOKS_AND_REFERENCE     4.344970
Name: Rating, dtype: float64

## punto 8

creo dataframe intermedi con i generi splittati in colonne diverse e uno con i nomi delle app, li unisco attraverso l'indice iniziale e ottengo il risultato desiderato (droppando i null value delle app che hanno un genere solo)

In [25]:
googleps['genre_split'] = [x.split(';') for x in googleps['Genres']]
googleps['lengen']=googleps['genre_split'].apply(len)
googleps.head(2)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,IntValue,installazioni,v_corr,a_ver_-&.,genre_split,lengen
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up,19000000,10000,1.0.0,4.0.3,[Art & Design],1
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up,14000000,500000,2.0.0,4.0.3,"[Art & Design, Pretend Play]",2

In [26]:
gen12 = googleps['genre_split'].apply(pd.Series)
gen12.head()

              0             1
0  Art & Design           NaN
1  Art & Design  Pretend Play
2  Art & Design           NaN
3  Art & Design           NaN
4  Art & Design    Creativity

In [27]:
g= pd.DataFrame({'gen_1': gen12[0],'gen_2':gen12[1]})
g.head()

          gen_1         gen_2
0  Art & Design           NaN
1  Art & Design  Pretend Play
2  Art & Design           NaN
3  Art & Design           NaN
4  Art & Design    Creativity

In [28]:
app = pd.DataFrame(googleps['App'])
app.head()

                                                 App
0     Photo Editor & Candy Camera & Grid & ScrapBook
1                                Coloring book moana
2  U Launcher Lite – FREE Live Cool Themes, Hide ...
3                              Sketch - Draw & Paint
4              Pixel Draw - Number Art Coloring Book

In [29]:
gtot = pd.merge(g, app, left_index = True, right_index = True)\
           .melt(id_vars = ['App'], value_name = "genere")\
           .drop("variable", axis = 1)\
           .dropna() 
gtot.head()

                                                 App        genere
0     Photo Editor & Candy Camera & Grid & ScrapBook  Art & Design
1                                Coloring book moana  Art & Design
2  U Launcher Lite – FREE Live Cool Themes, Hide ...  Art & Design
3                              Sketch - Draw & Paint  Art & Design
4              Pixel Draw - Number Art Coloring Book  Art & Design

In [30]:
gtot[gtot['App'] == 'Coloring book moana']

                      App        genere
1     Coloring book moana  Art & Design
9661  Coloring book moana  Pretend Play

## punto 9

Recupero il dataframe con i generi splittati in colonne diverse (g) e grazie al merge inserisco anche la colonna app dal dataframe iniziale. Dalla colonna nel dataframe gtot recupero la colonna con tutti i generi, ne faccio una serie ed elimino i duplicati. Aggiungo per ogni valore della serie una colonna e le setto tutte 'False', poi itero tutte le righe e quando il genere 1 o il genere 2 coincide col nome della colonna, cambio la cella in 'True'.

In [31]:
gtot2 = pd.merge(g, app, left_index = True, right_index = True)
gtot2.head()

,gen_1,gen_2,App
0,Art & Design,NaN,Photo Editor & Candy Camera & Grid & ScrapBook
1,Art & Design,Pretend Play,Coloring book moana
2,Art & Design,NaN,"U Launcher Lite – FREE Live Cool Themes, Hide ..."
3,Art & Design,NaN,Sketch - Draw & Paint
4,Art & Design,Creativity,Pixel Draw - Number Art Coloring Book

In [32]:
list(gtot2.columns.values)

['gen_1', 'gen_2', 'App']

In [33]:
gtot['genere'].head()

0    Art & Design
1    Art & Design
2    Art & Design
3    Art & Design
4    Art & Design
Name: genere, dtype: object

In [34]:
gcol=gtot['genere'].drop_duplicates()
gcol.head()

0           Art & Design
49       Auto & Vehicles
98                Beauty
139    Books & Reference
187             Business
Name: genere, dtype: object

In [35]:
column_values = pd.Series(gcol)
column_values.head()

0           Art & Design
49       Auto & Vehicles
98                Beauty
139    Books & Reference
187             Business
Name: genere, dtype: object

In [36]:
for elem in column_values:
    gtot2[elem]='False'
gtot2.head(2)

,gen_1,gen_2,App,Art & Design,Auto & Vehicles,Beauty,Books & Reference,Business,Comics,Communication,...,Weather,News & Magazines,Maps & Navigation,Casino,"February 11, 2018",Pretend Play,Creativity,Action & Adventure,Music & Video,Brain Games
0,Art & Design,NaN,Photo Editor & Candy Camera & Grid & ScrapBook,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,Art & Design,Pretend Play,Coloring book moana,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [37]:
for index, row in gtot2.iterrows():
    a=row['gen_1']
    row[a]='True'
    b=row['gen_2']
    row[b]='True'
gtot2.head(2)

,gen_1,gen_2,App,Art & Design,Auto & Vehicles,Beauty,Books & Reference,Business,Comics,Communication,...,Weather,News & Magazines,Maps & Navigation,Casino,"February 11, 2018",Pretend Play,Creativity,Action & Adventure,Music & Video,Brain Games
0,Art & Design,NaN,Photo Editor & Candy Camera & Grid & ScrapBook,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,Art & Design,Pretend Play,Coloring book moana,True,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False

In [38]:
gtot2[gtot2['App'] == 'Coloring book moana'][['App','Art & Design','Auto & Vehicles','Pretend Play']]

                   App Art & Design Auto & Vehicles Pretend Play
1  Coloring book moana         True           False         True

## punto 10

attraverso il dataframe ottenuto nel punto 8 (gtot), possiamo unirlo al dataframe iniziale per avere anche in rating e computare la media per ogni genere

In [39]:
grat = pd.merge(gtot,googleps, on = 'App')
grat.head(2)

,App,genere,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,IntValue,installazioni,v_corr,a_ver_-&.,genre_split,lengen
0,Photo Editor & Candy Camera & Grid & ScrapBook,Art & Design,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up,19000000,10000,1.0.0,4.0.3,[Art & Design],1
1,Coloring book moana,Art & Design,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up,14000000,500000,2.0.0,4.0.3,"[Art & Design, Pretend Play]",2

In [40]:
gmed=pd.DataFrame(grat.groupby('genere')['Rating'].mean())
gmed.head()

                      Rating
genere
Action              4.247697
Action & Adventure  4.288542
Adventure           4.191026
Arcade              4.277838
Art & Design        4.350000

In [41]:
gmed.max()

Rating    19.0
dtype: float64

In [42]:
gmed.idxmax()

Rating    February 11, 2018
dtype: object

## punto 11

aggiungo la colonna 'prezzo' togliendo il simbolo $ dalla colonna 'Price', mi accorgo di un errore nella tupla 10472 che elimino, trasformo in float la nuova colonna e calcolo la colonna 'Income' moltiplicando il prezzo per le installazioni

In [43]:
googleps['prezzo'] = [re.sub('\$*','',x) for x in googleps['Price']]

In [44]:
googleps[googleps['prezzo'] =='Everyone']
googleps=googleps.drop(10472)

In [45]:
googleps['prezzo'] = googleps['prezzo'].apply(float)
googleps['installazioni'] = googleps['installazioni'].apply(float)

In [51]:
googleps['Income'] = googleps['prezzo'] * googleps['installazioni']
googleps.sort_values(by = 'Income', ascending = False).head(1)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,...,Current Ver,Android Ver,IntValue,installazioni,v_corr,a_ver_-&.,genre_split,lengen,prezzo,Income
2241,Minecraft,FAMILY,4.5,2376564,999,"10,000,000+",Paid,$6.99,Everyone 10+,Arcade;Action & Adventure,...,1.5.2.1,Varies with device,Varies with device,10000000.0,1.5.2.1,,"[Arcade, Action & Adventure]",2,6.99,69900000.0

## punto 12

creo 2 dataframe, uno col minimo della sentiment_polarity di ogni app e uno col massimo e li unisco

In [47]:
gmin=pd.DataFrame(googleps_ur.groupby('App').min()['Sentiment_Polarity'])
gmin.head()

                                  Sentiment_Polarity
App
10 Best Foods for You                        -0.8000
104 找工作 - 找工作 找打工 找兼職 履歷健檢 履歷診療室             -0.1125
11st                                         -1.0000
1800 Contacts - Lens Store                   -0.3000
1LINE – One Line with One Touch              -0.8250

In [48]:
gmax=pd.DataFrame(googleps_ur.groupby('App').max()['Sentiment_Polarity'])
gmax.head()

                                  Sentiment_Polarity
App
10 Best Foods for You                       1.000000
104 找工作 - 找工作 找打工 找兼職 履歷健檢 履歷診療室            0.910000
11st                                        1.000000
1800 Contacts - Lens Store                  0.838542
1LINE – One Line with One Touch             1.000000

In [49]:
gminmax=pd.merge(gmin,gmax,on='App')
gminmax.head()

                                  Sentiment_Polarity_x  Sentiment_Polarity_y
App
10 Best Foods for You                          -0.8000              1.000000
104 找工作 - 找工作 找打工 找兼職 履歷健檢 履歷診療室               -0.1125              0.910000
11st                                           -1.0000              1.000000
1800 Contacts - Lens Store                     -0.3000              0.838542
1LINE – One Line with One Touch                -0.8250              1.000000

In [50]:
gminmax = gminmax.rename(columns = {'Sentiment_Polarity_x':'min_sent','Sentiment_Polarity_y':'max_sent'})
gminmax.head()

                                  min_sent  max_sent
App
10 Best Foods for You              -0.8000  1.000000
104 找工作 - 找工作 找打工 找兼職 履歷健檢 履歷診療室   -0.1125  0.910000
11st                               -1.0000  1.000000
1800 Contacts - Lens Store         -0.3000  0.838542
1LINE – One Line with One Touch    -0.8250  1.000000